<?xml version="1.0" encoding="UTF-8"?>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="TableReport.css"/>
	</head>
	<div>
		<div style="height: 100px">
			<img href="http://www.vivit-worldwide.org/default.asp?" src="http://www.vivit-worldwide.org/graphics/logo.png" alt="Error" style="max-width: 50%; max-height: 100%; display:block; margin:auto;" />
		</div>
		<div style="max-width: 50%; max-height: 50%; display:block; margin:auto;">
			<font color="#41395f">
				<h1>Automation Report</h1>
			</font>
		</div>
		<div style="max-width: 50%; max-height: 50%; display:block; margin:auto;">
			<p>
				<b>
					<font color="#103a71">
						Status
					</font>
				</b>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXm0ejYJeS2yVy2irDYdyzvXLUPdldkeDicnycsyzOajXMykh5Ew" alt="PASS" style="max-width: 3%; max-height: 5%;">
					<br>
						<b>
							<font color="green">
						Everything appears to be in working order.
							</font>
						</b>
					</br>
<!--				
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZrJCOyz6AMDcbYYwftrV-eH9SdQcvHGwYpBt0ZoHGzZvlyMWLfw" alt="FAIL" style="max-width: 3%; max-height: 5%;">
				<br>
					<b>
						<font color="red">
							WARNING!!!
						</font>
					</b>
				</br>
				<br>
					In case you didn't recieve one of the multiple emails regarding an attack against YM.com we've been assured that the attack did not breach any data and that everything is back to normal.  This is why you did not recieve an automated report on Saturday due to a failure to connect to the YM site.
				</br>
-->
				</p>
				<p>
					<b>
						<font color="#103a71">
						Updates:
						</font>
					</b>
				</p>
				<p>
					<ul>
						<li>
							<b>
								<i>
								The Your Membership (YM) Application Programming Inteface (API) method calls have been implimented.  Downloading member and member group data has been successfully implemented and is being used currently.
								</i>
							</b>
						</li>
						<li>
							<b>
								<i>
								Next up, you tell me what you think would be helpful.
								</i>
							</b>
						</li>
					</ul>
				</p>
				<p>
					<b>
						<font color="#103a71">
						Details from the Vivit Automated Reporting are attached.
						</font>
					</b>
				</p>
			</div>
		</div>
		<div>
			<div>
				<p>
					<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
						<tr>
							<th style="border: 1px solid black; border-collapse: collapse; background-color: #fec340;">
						Broken Links
							</th>
						</tr>
					</table>
					<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
						<thead>
							<tr>
								<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
									<b>Chapter</b>
								</th>
								<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
									<b>URL</b>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="border: 1px solid black; border-collapse: collapse;">
							LUGS: chattanooga
								</td>
								<td style="border: 1px solid black; border-collapse: collapse;">
									<a href="https://vivitworldwide.site-ym.com/page/group/chattanooga">https://vivitworldwide.site-ym.com/page/group/chattanooga</a>
								</td>
							</tr>
							<tr>
								<td style="border: 1px solid black; border-collapse: collapse;">
							LUGS: chicago
								</td>
								<td style="border: 1px solid black; border-collapse: collapse;">
									<a href="https://vivitworldwide.site-ym.com/page/group/chicago">https://vivitworldwide.site-ym.com/page/group/chicago</a>
								</td>
							</tr>
							<tr>
								<td style="border: 1px solid black; border-collapse: collapse;">
							LUGS: colorado
								</td>
								<td style="border: 1px solid black; border-collapse: collapse;">
									<a href="https://vivitworldwide.site-ym.com/page/group/colorado">https://vivitworldwide.site-ym.com/page/group/colorado</a>
								</td>
								<tr>
								</tr>
								<td style="border: 1px solid black; border-collapse: collapse;">
							LUGS: connecticut
								</td>
								<td style="border: 1px solid black; border-collapse: collapse;">
									<a href="https://vivitworldwide.site-ym.com/page/group/connecticut">https://vivitworldwide.site-ym.com/page/group/connecticut</a>
								</td>
							</tr>
						</tr>
						<td style="border: 1px solid black; border-collapse: collapse;">
							LUGS: wisconsin
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							<a href="https://vivitworldwide.site-ym.com/page/group/wisconsin">https://vivitworldwide.site-ym.com/page/group/wisconsin</a>
						</td>
					</tr>
				</tbody>
			</table>
		</p>
		<p>
			<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
				<tr>
					<th style="border: 1px solid black; border-collapse: collapse; background-color: #fec340;">
						Database Changes
					</th>
				</tr>
			</table>
			<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
				<thead>
					<tr>
						<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
							<b>API Method</b>
						</th>
						<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
							<b>Table</b>
						</th>
						<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
							<b>Field</b>
						</th>
						<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
							<b>Action</b>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="border: 1px solid black; border-collapse: collapse;">
							Sa_ExportNamespace.exportDataMembers
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							t_DOM_Vivit_Members
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							GDPR_Opt-out_Date
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							Added
						</td>
					</tr>
					<tr>
						<td style="border: 1px solid black; border-collapse: collapse;">
							Sa_ExportNamespace.exportDataMembers
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							t_DOM_Vivit_Members
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							GDPR_Opt-in_Date
						</td>
						<td style="border: 1px solid black; border-collapse: collapse;">
							Added
						</td>
					</tr>
				</tbody>
			</table>
		</p>
	</div>
</div>
<body>
	<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
		<tr>
			<th style="border: 1px solid black; border-collapse: collapse; background-color: #fec340;">
					Summary
			</th>
		</tr>
	</table>
	<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
		<thead>
			<tr>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Method</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Item</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Count</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Item</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Count</b>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Blog Activity (Recent)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Blog_Activity_Added
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Blog Activity (All)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Blog_Activity_All
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Upcoming Events (Unique)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_Events_Calendar_Unique
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Upcoming Events (All)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_Events_Calendar_All
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Forum Activity (Recent)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Forum_Activity_Added
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Forum Activity (All)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Forum_Activity_All
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Leaders (Added)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Leaders_Added
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Leaders (Deleted)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Leaders_Deleted
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						LUG Champions
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_LUG_Champions
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						SIG Champions
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_SIG_Champions
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						LUG Leaders
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_LUG_Leaders
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						SIG Leaders
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_SIG_Leaders
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						LUG Co-Leaders
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group_LUG_Co-Leaders
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						SIG Co-Leaders
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						0
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Groups (Added)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Groups_Added
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Groups (Deleted)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Groups_Deleted
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group Pages (LUGs)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GroupPage_Timings_LUGs
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group Pages (SIGs)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GroupPage_Timings_SIGs
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						API
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Group Count
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Member_Group_Count
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Primary Group Count
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Member_PrimaryGroup_Count
				</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Method</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Item</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Time (seconds)</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Item</b>
				</th>
				<th style="border: 1px solid black; border-collapse: collapse; background-color: #518bc9;">
					<b>Time (seconds)</b>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Page Load Timings (Fastest)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						FASTEST_LUG
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Page Load Timings (Fastest)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						FASTEST_SIG
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black; border-collapse: collapse;">
						GUI
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Page Load Timings (Slowest)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						SLOWEST_LUG
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						Page Load Timings (Slowest)
				</td>
				<td style="border: 1px solid black; border-collapse: collapse;">
						SLOWEST_SIG
				</td>
			</tr>
		</tbody>
	</table>
	<table class="scroll" style="border: 1px solid black; border-collapse: collapse;width: 100%;">
		<tr>
			<td style="border: 1px solid black; border-collapse: collapse; background-color: #fec340;">
				<font color="red">
					<b>Note:</b>
					<tab style="white-space:pre">	</tab>
				</font>
				<i>The "Method" column specifies if the results have been captured from the Graphical User Interface (GUI) or the Application Programming Inteface (API)/backend Database.</i>
				<br>
					<tab style="white-space:pre">		</tab>
					<i>All 85 YM API Methods have been coded for and are ready to be used.</i>
				</br>
			</td>
		</tr>
	</table>
</body>
</html>